#-----------------------------------
#   FSD Utils
#-----------------------------------
funding-service-design-utils>=2.0.1,<2.1.0
#-----------------------------------
#   Flask Version
#-----------------------------------
flask
flask-json
#-----------------------------------
#   Connexion APIs
#-----------------------------------
connexion
swagger-ui-bundle
openapi-spec-validator
prance
#-----------------------------------
#   Database
#-----------------------------------
SQLAlchemy[mypy]>=2.0.12
Flask-SQLAlchemy>=3.0.3
Flask-Migrate
sqlalchemy-utils>=0.41.1
sqlalchemy_json
psycopg2-binary
marshmallow-sqlalchemy

pytest-mock
pytest-html>=3.2.0
