#-----------------------------------
#   FSD Utils
#-----------------------------------
funding-service-design-utils>=1.0.23,<1.1.0
requests

#-----------------------------------
#   Flask Version
#-----------------------------------
Flask>=2.1.1

#-----------------------------------
#   Fund Store
#-----------------------------------
python-slugify==6.1.2

#-----------------------------------
#   Connexion APIs
#-----------------------------------
connexion
swagger-ui-bundle
openapi-spec-validator
prance
#-----------------------------------
#   Database
#-----------------------------------
SQLAlchemy
Flask-SQLAlchemy>=3.0.3
Flask-Migrate
sqlalchemy-utils
sqlalchemy_json
psycopg2-binary==2.9.6
marshmallow-sqlalchemy
