# Note all other dependencies are defined in the base image:
# https://github.com/communitiesuk/funding-service-design-base

#-----------------------------------
#   FSD Utils
#-----------------------------------
funding-service-design-utils==4.0.1

# For all questions
airium==0.2.6
